.clip-path{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transform: translateY(100px);
    opacity: 0;
}

/* Change the color of the navigation arrows */
.mySwiper .swiper-button-prev, .mySwiper .swiper-button-next {
    color: #dc2c5a;
  }
  

  
  /* Change the color of the active pagination bullet */
  .mySwiper .swiper-pagination-bullet-active {
    background-color: #dc2c5a;
  }
  



  .black-gradient {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
/*  */

.parallax-effect-glare-scale{
  transform-style: preserve-3d;
  .inner-element {
    transform: translateZ(60px);
  }
}
